fastapi==0.115.12
uvicorn==0.34.0
pydantic>=2.11.0,<3
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
python-dotenv==1.1.0
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
aiosmtplib>=3.0.0,<5
